<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Description }}">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
</head>
<body>
    {{ partial "navigation.html" . }}

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->

    <div class="container">
        {{ .Content }}
    </div>

    <script src="/js/{{ index .Site.Data.css.hash "app.js" }}" />
</body>
<html>